@using CV.Shared.Menu.Components
@inherits LayoutComponentBase

<main>

    <NavMenu/>
    <HeaderMenu/>
    <div class="top-row px-4">
        <CultureSelector />
    </div>

    @Body
</main>
