name: PublishApp

env:
  PUBLISH_DIR: bin/Release/net10.0/publish/wwwroot
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Publish app
        run: dotnet publish -c Release

      - name: Rewrite base href
        uses: SteveSandersonMS/ghaction-rewrite-base-href@v1
        with:
          html_path: bin/Release/net10.0/publish/wwwroot/index.html
          base_href: /CV/

      - name: Create 404.html from index.html
        run: |
          cp bin/Release/net10.0/publish/wwwroot/index.html \
             bin/Release/net10.0/publish/wwwroot/404.html

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v1.5.1
        with:
          target_branch: gh-pages
          build_dir: ${{ env.PUBLISH_DIR }}
        env:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
